body {
  font-family: Arial, sans-serif;
  background-color: #d4a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #6a0572;
}
.container {
  background-color: #a8d8b9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 1, 0.1);
}

#btn {
  background-color: #ff677d;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  opacity: 1;
  transition: transform 0.14s ease;
  border-radius: 3px;
}

#btn:hover {
  transform: scale(1.03);
}
